[mysqld]
#configuraciones previcionales

#InnoDB config

default_storage_engine = InnoDB

innodb_buffer_pool_size = 8192M #entre un %50 y %80 de la RAM, se usa para el cache de data e indexes

innodb_log_file_size = 2048M #25% del buffer pool, disminuye el tiempo de recuperacion en crashes

innodb_log_buffer_size = 2048M # logs

innodb_flush_log_at_trx_commit = 1 # manera de vaciar logs, 1 es ACID compliant

innodb_lock_wait_timeout = 50 # tiempo de espera por bloqueo de fila

innodb_flush_method = fsync # uso de flush data, fsync por linux

skip-ssl

#config de performance

key_buffer_size = 16M  # Tamaño del buffer de índice para tablas MyISAM, Usa solo para MyISAM, no afecta a InnoDB. Se puede mantener bajo.

max_allowed_packet = 64M  # Tamaño máximo del paquete que se puede enviar/recibir en MySQL, Para manejar grandes consultas o datos BLOB.

thread_stack = 192K # Tamaño del stack de cada hilo, Adecuado para la mayoría de las consultas estándar.

thread_cache_size = 16 # Tamaño de la caché de hilos, para reutilizar hilos y evitar sobrecarga en la creación, Mejora el rendimiento si hay muchas conexiones concurrentes.

table_open_cache = 4000 # # Número de tablas que pueden estar abiertas simultáneamente, Permite a MySQL mantener más tablas abiertas al mismo tiempo, reduciendo el overhead.

sort_buffer_size = 4M  # Tamaño del buffer para operaciones de ordenación de consultas, Mejora el rendimiento de operaciones con ORDER BY o GROUP BY.

read_buffer_size = 2M  # Tamaño del buffer para leer datos secuencialmente, Adecuado para mejorar el rendimiento de grandes lecturas secuenciales.

read_rnd_buffer_size = 8M # Tamaño del buffer para lecturas aleatorias en tablas ordenadas, Mejora el rendimiento en consultas que necesitan leer datos en un orden específico.

query_cache_size = 128M  # Tamaño de la caché de resultados de consultas , Almacena resultados de consultas repetidas, mejora el rendimiento en consultas que se ejecutan frecuentemente.

query_cache_limit = 4M  # Tamaño máximo de una consulta almacenada en la caché de consultas